<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=SRV_2016\SQLEXPRESS;Database=SHOP;User Id=sa; Password=Q1w2e3;" />
  </connectionStrings>
</configuration>